html,
body {
  background-color: #fff;
  height: 100%;
}

.container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle {
  background-color: #30576e;
  width: 483px;
  min-height: 625px;
  border-radius: 55px;
}
